.help-request-card {
    margin: 2rem auto;
    padding: 2rem;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}